@charset "UTF-8";

body {
	margin: 0;
	padding: 0px;
	background-color: #f2f2f9;
	font-weight: bold;
}

.flex-box1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 80px;
	box-shadow: 1px 1px;
	background-color: white;
}

#top-box1 {
	text-align: center;
	font-size: 25px;
	height: 100%;
	position: relative;
	width: 340px;
	background-color: rgb(41, 128, 185);
	color: white;
}

#tob-box1-span {
	position: relative;
	top: 25px;
}

#tob-box2-span {
	position: relative;
	top: 30px;
	right: 40px;
}

#top-box2 {
	margin-right: 20px;
	height: 100%;
}

#box1 {
	width: 200px;
}

.flex-box2 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#flex-box2_box1 {
	height: 899px;
	background: rgb(41, 128, 185);
}

#flex-box2_box2 {
	width: 90%;
}

.main-box-flex {
	display: flex;
	justify-content: center;
	margin: 40px;
}

#main-box1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	border: 1px solid gray;
	box-shadow: 1px 1px;
	background-color: white;
}

#main-box2 {
	width: 100%;
	height: 650px;
	border: 1px solid gray;
	box-shadow: 1px 1px;
	background-color: white;
}

.span-margin {
	margin-left: 40px;
	margin-right: 40px;
}

#span1 {
	font-size: 20px;
}

#nav-box {
	width: 100%;
}

ul#navi {
	width: 200px;
	text-indent: 10px;
	font-size: 15px;
}

ul#navi, ul#navi ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 340px;
}

li.group {
	color: white;
}

li.group div.title {
	height: 50px;
	line-height: 50px;
	background: rgb(64, 89, 106);
	cursor: pointer;
	padding-left: 25px;
	font-weight: 600;
	background-image: url("../img/down.png");
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	font-size: 17px;
}

ul.sub li {
	height: 35px;
	line-height: 35px;
	background: rgb(41, 128, 185);
	cursor: pointer;
	padding-left: 40px;
	font-weight: 550;
}

ul.sub li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
}

ul.sub li:hover {
	background: rgb(64, 89, 106);
}

table th {
	padding-top: 5px;
	padding-bottom: 12px;
	background-color: #808080;
	color: white;
}

table td {
	padding-top: 5px;
	padding-bottom: 12px;
	text-align: center;
}

#main-box2-flex {
	display: flex;
	justify-content: center;
}

#search-div {
	margin: 20px;
	margin-left: 45px;
}

#table-div {
	margin: 20px;
	margin-left: 45px;
}

#input01 {
	width: 100px;
	height: 37px;
	margin-left: 3px;
	border-radius: 4px;
	border: 1px solid gray;
}

#input02 {
	width: 220px;
	height: 37px;
	margin-left: 15px;
	border-radius: 4px;
	border: 1px solid gray;
}

#btn01 {
	width: 57px;
	height: 35px;
	margin-left: 20px;
	border-radius: 4px;
	background: #0066CC;
	color: white;
	border: 1px solid gray;
	font-size: 15px;
}

#title-div {
	width: 97%;
	height: 37px;
	margin-bottom: 20px;
}

#title-div input {
	width: 100%;
	height: 37px;
}

#contents-div {
	width: 97%;
}

#contents-div textarea {
	width: 100%;
}

#btn-div{
	margin-top: 15px;
	width: 97%;
}

#table-div input{
	float: right;
}

.Btn {
	width: 57px;
	height: 35px;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background: #0066CC;
	color: white;
	border: 1px solid gray;
	font-size: 15px;
}

#tab01{
	width: 100%;
	border-collapse: collapse;
}

#contents{
	width: 100%;
}